# Windows default autosave extension
*.asv

# generated pictures
*.png
# txt files
*.txt

# folders
/archives/*
/examples/DenHaag_tram_network/*
/examples/Amsterdam_tram_bus_metro_20180320/*
/examples/NS/*

.DS_Store